{
	"printWidth": 120,
	"singleQuote": true,
	"useTabs": false,
	"tabWidth": 2,
	"semi": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"importOrder": [
		"^@angular$",
		"^@$",
		"rxjs",
		"^/w",
		"^(src|@panel|@shared|@core|@navigation|@env|@test-utilities)(/.*|$)",
		"^(business-logic|@ui)(/.*|$)",
		"^[./|~/]"
	]
}
