@import '@app/colors';
@import '@app/mixins';

.movie-card {
  border-radius: 12px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(96 95 95 / 15%);
  border: 1px solid $accent-color-light;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 250px;
	height: 100%;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px rgba(98 98 98 / 20%);
  }

  img {
    width: 100%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    box-shadow: 0 2px 5px rgba(0 0 0 / 10%);
  }

  h3 {
    font-size: 18px;
    color: $white;
    font-weight: bold;
  }

  .movie-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    margin-bottom: 10px;

    .genre {
      font-size: 14px;
      color: $gray;
    }

    .rating {
      margin-top: 5px;
      font-size: 16px;
      font-weight: bold;
      color: $yellow;
    }
  }
}

@include breakpoint('medium') {
  .movie-card {
    max-width: 200px;
  }
}

@include breakpoint('small') {
  .movie-card {
    max-width: 180px;
  }
}

@include breakpoint('xsmall') {
  .movie-card {
    max-width: 170px;
  }
}
