$black: #000;
$white: #fff;
$gray: #8d8d8d;
$red: var(--red);
$neon-green: #39ff14;
$yellow: #fc0;
$primary-color: #111827;
$primary-color-light: #111827cf;
$accent-color: #1dd3e4;
$accent-color-light: #1dd3e424;
$secondary-color: #abb6cd;
$light-gray: #f4f4f4;
