@import '@app/colors';

.movies-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 60px;
  padding-top: 90px;
}

.no-movies-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55vh;
  color: $white;

  mat-icon {
    margin-bottom: 16px;
    font-size: 48px;
    width: 48px;
    height: 48px;
  }

  p {
    font-size: 18px;
    font-weight: 500;
  }
}

mat-paginator {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0 0 0 / 10%);
  background-color: $secondary-color;
  z-index: 1000;
}

:host {
  .mat-mdc-paginator-container {
    justify-content: center;
  }
}

