@import '@app/colors';

.app-home-content {
  padding: 20px;
  color: $white;
  min-height: 86.6vh;

  .movie-list {
    display: flex;
		flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
  }
}
